<!DOCTYPE html>

<!-- author: Jim Han (179381215) -->

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB322 Assignment Login Gallery</title>

    <style>
        div {
            position: absolute;
            border: solid 2px;
            border-color:rgb(120, 120, 189);
            border-radius: 5%;
            top: 15vh;
            left: 32%;
            color: rgb(120, 120, 189);
            text-align: center;
            font-size: 15px;
            width: 300px;
            height: 300px;
        } 

        h1 {
            position: absolute;
            top: 5vh;
            left: 35%;
            color: rgb(120, 120, 189);
            font-size: 30px;
        } 

        h3 {
            font-size: 25px;
        }      

        #txtUserName {
            margin: 5px;
            width: 200px;
            height: 30px;
            font-size: 25px;
        }

        #txtPassword {
            margin: 5px;
            width: 200px;
            height: 30px;
            font-size: 25px;
        }
        
        #loginBtn {
            margin: 5px;
            width: 200px;
            height: 30px;
            font-weight: bold;
            font-size: 25px;
            color: rgb(120, 120, 189);
        }

        #loginBtn:hover {
            background-color: rgb(91, 164, 91);
            color: white;
        }

        #aRegister {
            text-decoration: none;
            border-radius: 5%;
            padding: 0.2em 73px;
            margin: 5px;
            background-color: rgb(91, 164, 91);
            width: 200px;
            height: 30px;
        }
    </style>
</head>

<body>
    <form method="post" action="/">
    <h1>Favorite Series</h1>
    <div>
    <h3>Login</h3>
    <input id="txtUserName" name="txtUsername" type="text" required placeholder="Username" value="" />
    <br />
    <input id="txtPassword" name="txtPassword" type="password" required placeholder="Password" value="" />
    <br />
    <button id="loginBtn" type="submit" value="submit">Submit</button> 
    <br />
    <a id="aRegister" href="/register">Register</a>
    <br />
    <label id="lblMessage">{{ message }}</label>
    </div>
    </form>
</body>

</html>