<!DOCTYPE html>

<!-- author: Jim Han (179381215) -->

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB322 Assignment Register Gallery</title>

    <style>
        h1 {
			position: absolute;
            top: 5vh;
            left: 35%;
            color: rgb(120, 120, 189);
            font-size: 30px;
		}

		.clsregistercontent{
			position: absolute;
            border: solid 2px;
            border-color:rgb(120, 120, 189);
            border-radius: 5%;
            top: 15vh;
            left: 32%;
            color: rgb(120, 120, 189);
            text-align: center;
            font-size: 15px;
            width: 300px;
            height: 300px;
		}

		h3{
			font-size: 25px;
		}

		#txtUserName {
            margin: 5px;
            width: 210px;
            height: 20px;
            font-size: 25px;
        }

		#txtPassword {
            margin: 5px;
            width: 210px;
            height: 20px;
            font-size: 25px;
        }

		#txtConfirmPassword {
            margin: 5px;
            width: 210px;
            height: 20px;
            font-size: 25px;
        }

		#btnRegister {
            margin: 5px;
            width: 210px;
            height: 30px;
            font-size: 25px;
			color: rgb(120, 120, 189);
        }

		#btnRegister:hover {
			background-color: rgb(97, 185, 97);
			color: white;
		}
    </style>
</head>

<body>
    <form method="post" action="/register">

		<h1>Favorite Series</h1>

		<div class="clsregistercontent">
			<h3>Account Registration</h3>
			<br />
			<input id="txtUserName" name="txtUserName" type="email" placeholder="Email" value="" />
			<br />
			<input id="txtPassword" name="txtPassword" type="password" placeholder="Password" value="" />
			<br />
			<input id="txtConfirmPassword" name="txtConfirmPassword" type="password" placeholder="Confirm Password" value="" />
			<br />
			<button id="btnRegister" type="submit" value="submit">Register</button>
			<br />
			<label id="lblMessage">{{ message }}</label>
		</div>

	</form>
</body>

</html>